html
  head
    title #{title}
    script(src='../public/js/main.js')
    link(rel='stylesheet', href='../public/stylesheets/style.css')
  body
    #content
      img(src='../public/images/logo.png')
      p WELCOME
      p #{message}
      #smile
